@model PersonViewModel
@{ ViewData["Title"] = "Detail"; }

<h2>Detail</h2>

<form method="get" asp-controller="Person" asp-action="detail">
    <div class="card-body text-center">
        <h4>PersonId : Id</h4>
        <h4>FirstName : FirstName</h4>
        <h4>LastName : LastName</h4>
        <h4>Gender : Gender</h4>
        <h4>BirthDate : BirthDate</h4>
        <h4>City : City</h4>
        <h4>PhoneNumber : PhoneNumber</h4>
        <h4>PhoneNumberType : PhoneNumberType</h4>
        <h4>PmNumber : PmNumber</h4>
        <h4>Image : Image</h4>
    </div>
</form>

<div class="card-footer text-center">
    <a asp-controller="Person" asp-action="Index" class="btn btn-primary">Back</a>
    <a asp-action="detail" asp-controller="Person" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a class="btn btn-danger" asp-action="detail" asp-controller="Person" >Delete</a>
</div>